.header {
    background: #000;
    color: #fff;;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    max-width: 100px;
}

.header .logo a {
    display: block;
}